<% if @task.user == current_user %>  

  <%= form_for([@task, @task.subtasks.build]) do |f| %>

    <div class="field">
      <%= f.text_field :title, placeholder: "Nova Subtarefa", required: true %>
    </div>

    <div class="actions">
      <%= f.submit "Salvar" %>
    </div>
  <% end %>

<% else %>

  <%= form_for(@task) do |f| %>
    <div class="field">
      <%= f.label :favoritar? %>
      <%= f.check_box :isfavorite %>
    </div>
    <br>
    <div class="actions">
      <%= f.submit "Salvar" %>
    </div>
  <% end %>

<% end %>