<% if @task.user == current_user %>  

  <%= form_for([ @task, @task.subtasks.build ], remote: true) do |f| %>

    <div class="field">
      <%= f.text_field :title, placeholder: "Nova Subtarefa", required: true %>
    </div>

    <div class="actions">
      <%= f.submit "Salvar" %>
    </div>
  <% end %>

  <div class="links">
    <%= link_to 'Editar', edit_task_path(@task) %> |
    <%= link_to 'Deletar', task_path(@task), method: :delete, data: { confirm: "Deletar tarefa?" } %> |
    <%= link_to 'Voltar', tasks_path %>
  </div>

<% else %>

  <%= form_for(@task, remote: true) do |f| %>
    <div class="field">
      <%= f.label :favoritar? %>
      <%= f.check_box :isfavorite %>
    </div>
    <br>
    <div class="actions">
      <%= f.submit "Salvar" %>
    </div>
  <% end %>

  <div class="links">
    <%= link_to 'Voltar', tasks_path %>
  </div>

<% end %>
