<%= form_for([@task, @task.subtasks.build]) do |f| %>

  <div class="field">
    <%= f.text_field :title, placeholder: "Nova Subtarefa", required: true %>
  </div>

  <div class="actions">
    <%= f.submit "Criar Subtarefa" %>
  </div>
  
<% end %>

<%= form_for(@task) do |f| %>
  <div class="field">
    <%= f.label :favoritar %>
    <%= f.check_box :isfavorite %>
  </div>

  <div class="actions">
    <%= f.submit "Enviar" %>
  </div>
<% end %>