<% if @task.user == current_user %>  

  <div class="row clearfix">

    <% if subtask.completed? %>
      <div class="complete">
        <%= link_to complete_task_subtask_path(@task, subtask.id), method: :patch, remote: true do %>
          <i style="opacity: 0.4;" class="fa fa-check"></i>
        <% end %>
      </div>
      
      <div class="subtask">
        <p style="opacity: 0.4;"><strike><%= subtask.title %></strike></p>
      </div>

      <div class="trash">
        <%= link_to task_subtask_path(@task, subtask.id), method: :delete, remote: true do %>
          <i class="fa fa-trash"></i>
        <% end %>
      </div>

    <% else %>

      <div class="complete">
        <%= link_to complete_task_subtask_path(@task, subtask.id), method: :patch, remote: true do %>
          <i class="fa fa-check"></i>
        <% end %>
      </div>
      
      <div id="subtask" class="subtask">
        <p><%= subtask.title %></p>
      </div>
      
      <div class="trash">
        <%= link_to task_subtask_path(@task, subtask.id), method: :delete, remote: true do %>
          <i class="fa fa-trash"></i>
        <% end %>
      </div>
    <% end %>
  </div>

  <% else %>

  <div class="row clearfix">

    <% if subtask.completed? %>
      <div class="complete">
        <i style="opacity: 0.4;" class="fa fa-check"></i>
      </div>
      
      <div class="subtask">
        <p style="opacity: 0.4;"><strike><%= subtask.title %></strike></p>
      </div>

    <% else %>

      <div class="complete">
        <i class="fa fa-check"></i>
      </div>
      
      <div class="subtask">
        <p><%= subtask.title %></p>
      </div>
      
    <% end %>
  </div>

<% end %>